body {
  animation-name: background;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

button {
  border-style: solid;
  border-color: white;
  background: none;
  color: white;
  position: absolute;
  left: 2.5%;
  top: 5%;
  width: 8%;
  height: 5%;
  font-size: 25px;
}

button:hover {
  color: gray;
  border-color: gray;
}

@keyframes background {
  from {
    background-color: hsl(244, 94%, 41%);
  }
  to {
    background-color: rgb(9, 9, 105);
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}