html {
  min-width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  animation-name: background;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  overflow: hidden;
}

button {
  border-style: solid;
  border-color: white;
  background: none;
  color: white;
  position: absolute;
  left: 2.5%;
  top: 5%;
  width: 8%;
  height: 5%;
  font-size: 25px;
}

button:hover {
  color: gray;
  border-color: gray;
}

@keyframes background {
  from {
    background-color: hsl(244, 94%, 41%);
  }
  to {
    background-color: rgb(9, 9, 105);
  }
}